/* /styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-pomodoro {
  background-image: url('./images/pomodoro.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.bg-small-break {
  background-image: url('./images/small-break.jpg');
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.bg-long-break {
  background-image: url('./images/long-break.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.tab {
  @apply p-4 cursor-pointer text-white transition duration-300 ease-in-out bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg rounded-md mx-1;
}
.tab-selected {
  @apply font-bold border-b-2 border-white;
}

.timer {
  @apply text-center my-8 text-white;
}
.timer-name {
  @apply text-xl font-semibold text-white;
}
.timer-display {
  @apply text-5xl font-mono text-white;
}
.timer-button {
  @apply mt-4 px-4 py-2 bg-blue-500 text-white rounded;
}

.blurred-gui {
  @apply bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg p-6 rounded-lg shadow-lg transition duration-300 ease-in-out relative w-full max-w-lg;
}

.log-icon {
  @apply absolute top-2 right-2 text-gray-300 cursor-pointer;
}

.fixed-log {
  @apply fixed inset-0 flex items-center justify-center transition-opacity duration-500 ease-in-out;
}

.modal-background {
  @apply absolute inset-0 bg-black bg-opacity-50;
}

.modal-content {
  @apply bg-white bg-opacity-30 backdrop-filter backdrop-blur-lg p-6 rounded-lg shadow-lg relative w-full max-w-lg h-96 overflow-y-auto;
}
